Adafruit-Blinka==6.10.2
adafruit-io==2.5.0
Adafruit-PlatformDetect==3.14.0
Adafruit-PureIO==1.1.9
altgraph==0.17
asgiref==3.3.4
astroid==2.3.3
beautifulsoup4==4.8.2
bs4==0.0.1
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
click==7.1.1
colorama==0.4.3
cycler==0.10.0
Django==3.2.4
fastapi==0.65.2
Flask==1.1.2
Flask-SQLAlchemy==2.4.1
future==0.18.2
googletrans==3.0.0
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2020.7.29
html5lib==1.0.1
httpcore==0.9.1
httpx==0.13.3
hyperframe==5.2.0
idna==2.9
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.2
jose==1.0.0
kiwisolver==1.3.1
lazy-object-proxy==1.4.3
lxml==4.5.0
MarkupSafe==1.1.1
matplotlib==3.3.3
mccabe==0.6.1
mysql-connector-python==8.0.22
numpy==1.19.2
opencv-python==4.4.0.44
paho-mqtt==1.5.1
pandas==1.1.4
passlib==1.7.2
pefile==2019.4.18
Pillow==8.0.1
playsound==1.2.2
protobuf==3.13.0
pycparser==2.20
pydantic==1.8.2
pyftdi==0.53.1
pygame==1.9.6
pyinstaller==4.0
pyinstaller-hooks-contrib==2020.9
pylint==2.4.4
PyMySQL==0.9.3
pyparsing==2.4.7
pyserial==3.5
python-dateutil==2.8.1
pytz==2020.4
pyusb==1.1.1
pywin32-ctypes==0.2.0
requests==2.23.0
rfc3986==1.4.0
six==1.14.0
sniffio==1.1.0
soupsieve==2.0
SQLAlchemy==1.3.16
sqlparse==0.4.1
starlette==0.14.2
typing-extensions==3.10.0.0
urllib3==1.25.8
uvicorn==0.14.0
webencodings==0.5.1
websockets==9.1
Werkzeug==1.0.1
wrapt==1.11.2
